<app-home></app-home>
<div class="min-h-screen md:px-20 pt-6">
    <div class="bg-white rounded-md px-6 py-10 max-w-2xl mx-auto shadow-md">
      <h2 class="text-center text-2xl font-bold text-gray-500 mb-10 font-sans">{{ isEditMode ? 'Editar usuario' : 'Crear nuevo usuario' }}</h2>
      
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="space-y-4">
          
          <!-- Nombre -->
          <div>
            <label for="name" class="block text-gray-700 text-lg font-sans mb-2">Nombre:</label>
            <input 
              id="name" 
              formControlName="name" 
              placeholder="Ingrese su nombre" 
              class="w-full outline-none py-2 px-3 border-2 rounded-md text-md border-gray-300 focus:border-indigo-600"
              [ngClass]="{'border-red-500': userForm.get('name')?.invalid && (userForm.get('name')?.touched || userForm.get('name')?.dirty)}"
            />
            <div *ngIf="userForm.get('name')?.invalid && (userForm.get('name')?.touched || userForm.get('name')?.dirty)" class="text-red-500 text-xs mt-1">
              <div *ngIf="userForm.get('name')?.errors?.['required']">El nombre es requerido.</div>
            </div>
          </div>
  
          <!-- Apellido -->
          <div>
            <label for="lastName" class="block text-gray-700 text-lg font-sans mb-2">Apellido:</label>
            <input 
              id="lastName" 
              formControlName="lastName" 
              placeholder="Ingrese su apellido" 
              class="w-full outline-none py-2 px-3 border-2 rounded-md text-md border-gray-300 focus:border-indigo-600"
              [ngClass]="{'border-red-500': userForm.get('lastName')?.invalid && (userForm.get('lastName')?.touched || userForm.get('lastName')?.dirty)}"
            />
            <div *ngIf="userForm.get('lastName')?.invalid && (userForm.get('lastName')?.touched || userForm.get('lastName')?.dirty)" class="text-red-500 text-xs mt-1">
              <div *ngIf="userForm.get('lastName')?.errors?.['required']">El apellido es requerido.</div>
            </div>
          </div>
  
          <!-- Correo Electrónico -->
          <div>
            <label for="email" class="block text-gray-700 text-lg font-sans mb-2">Correo Electrónico:</label>
            <input 
              id="email" 
              formControlName="email" 
              placeholder="Ingrese su correo electrónico" 
              type="email"
              class="w-full outline-none py-2 px-3 border-2 rounded-md text-md border-gray-300 focus:border-indigo-600"
              [ngClass]="{'border-red-500': userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)}"
            />
            <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)" class="text-red-500 text-xs mt-1">
              <div *ngIf="userForm.get('email')?.errors?.['required']">El correo electrónico es requerido.</div>
              <div *ngIf="userForm.get('email')?.errors?.['email']">El formato del correo electrónico es inválido.</div>
            </div>
          </div>
  
          <!-- Botón de enviar -->
          <button type="submit" class="w-full mt-4 bg-purple-700 hover:bg-purple-400 text-white font-bold py-2 rounded-md" [disabled]="userForm.invalid">
            {{ isEditMode ? 'Actualizar usuario' : 'Registrar usuario' }}
          </button>
  
          <!-- Botón de borrar -->
          <button type="button" class="w-full mt-4 bg-red-600 hover:bg-red-400 text-white font-bold py-2 rounded-md" (click)="onDelete()" *ngIf="isEditMode">
            Borrar mi usuario
          </button>
        </div>
      </form>
    </div>
  </div>
  